.product-detail {
  .ant-list-item{
    justify-content: left;
  }
  .left {
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;
  }
  .product-img {
    width: 150px;
    height: 150px;
    border: 1px solid #002140;
    margin-right: 10px;
  }
}